@import url("https://fonts.googleapis.com/css?family=Handlee&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  vertical-align: baseline;
}

a,
a:hover,
a:visited {
  color: inherit;
  text-decoration: none;
}

.background {
  height: 100vh;
  background-color: red;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b1/Rick_and_Morty.svg");
  background-size: 20%;
  background-blend-mode: soft-light;

  transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
}

#quote-box {
  height: auto;
  width: 45vw;
  min-height: 150px;
  min-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 3vh 2vw;

  font-size: 1.25em;
  margin-right: 0.4em;
  font-family: Handlee, Roboto;

  color: inherit;
  display: table;

  clear: both;
  background-color: white;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

#text {
  animation: appear 0.5s ease-out;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#author {
  font-weight: 300;
  font-family: "Open Sans";
  font-size: 0.9em;

  opacity: 0.75;
}

#text-box {
  grid-area: quote;
  height: 20vh;
  text-align: left;
  white-space: pre-line;
}

button {
  float: right;
  padding: 0.75vh 1.25vw;
  border: none;
  margin: 2vh 1vw 0 1vw;

  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 0.85em;

  color: inherit;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
  transition: backgound-color 0.1s;
}

button:hover {
  background-color: whitesmoke;
}

button:focus {
  outline: none;
}
